
body {
    height: 100dvh;
    display: grid;
    grid-template-rows: 4% 18%;
    overflow: hidden;
    justify-items: center;    
}

main {
    
}

#game {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

#grid {
    
    display: grid;
    grid-template-rows: repeat(6, 42px);
    grid-template-columns: repeat(5,42px);
    gap: 3px;
}

#keyboard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.kb-row {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.key{
    width: 52px;
    height: 70px;
    border: 0;
    border-radius: 6px;
    background: #808384;
    color: white;
    font-weight: 700;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.key-wide{
    width: 90px;
    font-size: 14px;
}

.tile {
    height: 39px;
    width: 39px;
    border-style: solid;
    border-color:#808384;
    border-width: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 700;
    color:black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    font-size: 5.0rem;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.correct {
    background-color: green;
    border-color: green;
}

.present {
    background-color: gold;
    border-color: gold;
}

.absent {
    background-color: #808384;
    border-color: #808384;
}

.absent_key {
    background-color: rgb(50,50,50);
    border-color: rgb(50,50,50);
}