/* CSS is HOW the website looks */
.tile {
    width: 50px;
    height: 50px;
    border: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 8px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 8px;
}

.correct {
    background-color: green;
    color: white;
    border-color: green;
}

.present {
    background-color: gold;
    color: white;
    border-color: gold;
}

.absent {
    background-color: gray;
    color: white;
    border-color: gray;
}

#keyboard {
    display: grid;
    gap: 8px;
    margin-top: 16px;
}